/* Definindo as variaveis */
*{
    margin: 0px;
    padding: 0px;
}
:root{
    --fundoCinza: #f7f7f7;
    --FundoTextoCinza: #c6c6c6;
    --texto: #000000;
    --vermelho: #ee2211;
    --btnHover:#900;

    --fontPadrao: Arial, Verdana, Helvetica, sans-serif;
    --sizePadrao: 1rem; 
}

body{
   background-color: #f4f4f4;
   font-family: var(--fontPadrao);
   font-size: var(--sizePadrao);
   color: var(--texto);
}

.content{
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    background-color: var(--fundoCinza);
    box-shadow: 3px 3px 4px 3px #3d3c3c51;
}

.mainHeader{
    padding-top: 3rem;
}

.mainHeader img{
    display: block;
    margin: auto;
}

nav{
    padding-top: 1.5rem;
}

.flexNav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.nav{
    list-style: none;
}

.nav a{
    text-decoration: none;
    color: var(--texto);
}

.navItem:hover{
    border: 0.20rem solid var(--vermelho);
    transition: 0.3s;
}

.navItem{
    display: inline-block;
    margin:1.5rem  1rem 0rem 0rem;
    background-color: #ffffff;
    padding: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 4px;

}


.mainGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
}



main{
    padding-top: 60px;
}

.descricao::before{
    content: '';
    width: 4.75rem;
    height: 0.35rem;
    background-color: var(--vermelho);
    margin: auto;
    position: relative;
    left: 12.15rem;
    top: -1.53rem;
}
.descricao{
    display: grid;
    align-content: center;
    justify-content: right;
    text-align: right;
    background-color: #ffffff;
    padding: 0 1.50rem 0 0.75rem;

}

.descricaoTxt{
    margin-top: 20px;
}

.mainLink:hover{
    background-color: var(--btnHover);
    transition: 0.3s;
}

.mainLink{
    place-self: start end;
    margin-top: 20px;
    padding: 15px;
    background-color: var(--vermelho);
    color: #ffffff;
    border-radius: 4px;
}
.bicicleta{
    width: 100%;

}

.vantagemTitulo{
    display: grid;
    align-content: center;
    font-size: 64px;
    color: var(--FundoTextoCinza);
    text-align: right;
    padding: 0 30px 0 0;

}

.vantagens{
    background-color: #ffffff;
}

.vantagens div:nth-child(odd){
    background-color: #f7f7f7;
}
.vantagemBox:hover{
    border-left: 0.25rem solid var(--vermelho);
}

.vantagemBox{
    display: grid;
    grid-template-columns: 100px 1fr;
    align-content: center;
    padding: 40px 30px 10px 0px;

}

.vantagemBox img{
    display: inline-block;
    justify-self: right;
}

.vantagemBox p{
    grid-column: 2;
    padding: 0 20px 10px 10px  ;
}

footer{
    text-align: center;
    margin-top: 60px;
    padding: 20px;
    background-color: #edebeb;
}
