/Java/CursoEmVideo/SuperCalculadora/nbproject/private/
/Java/CursoEmVideo/SuperCalculadora/build/
/Java/CursoEmVideo/OperadorTernario/nbproject/private/
/Java/CursoEmVideo/OperadorTernario/build/
/Java/CursoEmVideo/ComparacaoString/nbproject/private/
/Java/CursoEmVideo/ComparacaoString/build/
/Java/CursoEmVideo/OperadoresLogicos/nbproject/private/
/Java/CursoEmVideo/OperadoresLogicos/build/
/Java/CursoEmVideo/VerificadorIdadeSwing/nbproject/private/
/Java/CursoEmVideo/VerificadorIdadeSwing/build/
/Java/CursoEmVideo/JogoDoGenio/nbproject/private/
/Java/CursoEmVideo/JogoDoGenio/build/
