/Java/CursoEmVideo/SuperCalculadora/nbproject/private/
/Java/CursoEmVideo/SuperCalculadora/build/
/Java/CursoEmVideo/OperadorTernario/nbproject/private/
/Java/CursoEmVideo/OperadorTernario/build/
/Java/CursoEmVideo/ComparacaoString/nbproject/private/
/Java/CursoEmVideo/ComparacaoString/build/
/Java/CursoEmVideo/OperadoresLogicos/nbproject/private/
/Java/CursoEmVideo/OperadoresLogicos/build/
/Java/CursoEmVideo/VerificadorIdadeSwing/nbproject/private/
/Java/CursoEmVideo/VerificadorIdadeSwing/build/
/Java/CursoEmVideo/JogoDoGenio/nbproject/private/
/Java/CursoEmVideo/JogoDoGenio/build/
/Java/CursoEmVideo/ProgramaMedia/nbproject/private/
/Java/CursoEmVideo/ProgramaMedia/build/
/Java/CursoEmVideo/ProgramaIdade/nbproject/private/
/Java/CursoEmVideo/ProgramaIdade/build/
/Java/CursoEmVideo/ProgramaParImparSwing/nbproject/private/
/Java/CursoEmVideo/ProgramaParImparSwing/build/
/Java/CursoEmVideo/EquacaoSegundoGrau/nbproject/private/
/Java/CursoEmVideo/EquacaoSegundoGrau/build/
/Java/CursoEmVideo/VotacaoSwing/nbproject/private/
/Java/CursoEmVideo/VotacaoSwing/build/
/Java/CursoEmVideo/SwitchCursoEmVideo/nbproject/private/
/Java/CursoEmVideo/Switch/nbproject/private/
/Java/CursoEmVideo/Switch/build/
/Java/CursoEmVideo/Triangulos/nbproject/private/
/Java/CursoEmVideo/Triangulos/build/
/Java/CursoEmVideo/Contador01/nbproject/private/
/Java/CursoEmVideo/Contador01/build/
