/CursoEmVideo/HoraDoSistema/target/
/CursoEmVideo/IdiomaDoSistema/nbproject/private/
/CursoEmVideo/LinguagemDoSistema/nbproject/private/
/CursoEmVideo/LinguagemDoSistema/build/
/CursoEmVideo/ResoulcaoDaTela/nbproject/private/
/CursoEmVideo/ResoulcaoDaTela/build/
