div{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

img{
    max-width: 100%;
    display: block;
}

p{
    font-size: 2rem;
}

@media (min-width:300px){
    div img{
        order: 2;
    }
}