:root{
    --tamanho-titulo: 3rem;
    --cor-prmaria: #84e;
}

h1{
    font-size: var(--tamanho-titulo);
    color: var(--cor-prmaria);
}

p{
    --cor-primaria: #222;
    font-size: calc(var(--tamanho-titulo)/2);
    color: var(--cor-primaria);
}